extends ../main/layout

block add-css

block add-js
    script(src='/js/default.js')

block footer
    //- include ../main/footer.jade

block nav
    include ../main/navbar.jade

block content
    main
        .page-loader
            .loader Caricamento...
    
    section.section-book
        .row.display-web
            .col-sm-4
            .col-sm-8
                p.header-book #[strong LIBRO] | #{libro.titolo}
                p.header-book #[strong AUTORE] | #{libro.autore_nome} 
                p.header-book #[strong ANNO] | #{libro.anno}
            //- .col-sm-2.display-only-web  
            //-     .fb-share-button(data-href='/libri/#{libro.link}', data-layout='button', data-size='large')
            //-         a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') Condividi

        //- WEB
        .row.row-book-information.display-web
            .col-sm-1.col-space
            .col-sm-3.col-image.ml-20
                a.center-item(href='/libri/#{libro.link}')
                    img.book_image(src='#{libro.image}', alt='#{libro.titolo}')
            .col-sm-3.col-quotes
                .col-quotes-container
                    p #{libro.citazione}
            .col-sm-5.col-text
                .row 
                    .col-sm.col-text-title   
                        p.bold-72 PERCHÉ OGGI?
                .row    
                    .col-sm.col-text-paragrafo
                        for motivo in libro.motivo
                            p.paragraph.light-72.text-grey #{motivo}
        
        .row.display-web
            .col-sm-1.col-space
            .col-sm-3.col-btn
                a.set-flex(href='/libri/#{libro.link}')
                    .btn.btn-primary.btn-goto.center-item Scopri la trama
            .col-sm-8

        
        //- MOBILE 
        #main-mobile.row.display-mobile
            .col-sm
                .row
                    .header-book-mobile
                        .center-item
                            p.bold-72 #[strong #{data_title}]
                .row
                    .col-sm.col-image
                        a.center-item(href='/libri/#{libro.link}')
                            img.book_image(src='#{libro.image}', alt='#{libro.titolo}')
                .row
                    .col-sm.col-btn
                        a.set-flex(href='/libri/#{libro.link}')
                            .btn.btn-primary.btn-goto.center-item Scopri la trama
                .row
                    .col-sm
                        .book-info-mobile.set-flex
                            .center-item
                                p.72 #[strong LIBRO] | #{libro.titolo}
                                p.72 #[strong AUTORE] | #{libro.autore_nome} 
                                p.72 #[strong ANNO] | #{libro.anno}

                .row
                    .col-sm.col-quotes
                        .col-quotes-container
                            p #{libro.citazione}
                .row 
                    .col-sm.col-text-title   
                        p.bold-72 PERCHÉ OGGI?
                        
                .row.pb-30.border-bottom-red    
                    .col-sm.col-text-paragrafo
                        for motivo in libro.motivo
                            p.paragraph.light-72.text-grey #{motivo}

    section.middle-section.section-banner.display-web
        .row
            .col-sm.banner-div.set-flex
                .banner-div-script
                    //- START ADVERTISER: Feltrinelli IT from awin.com WEB
                    a(href='https://www.awin1.com/cread.php?s=2636587&v=9647&q=382142&r=701051')
                        img(src='https://www.awin1.com/cshow.php?s=2636587&v=9647&q=382142&r=701051', border='0')
    
    section.section-banner.display-mobile
        .row
            .col-sm.banner-div.set-flex
                .banner-div-script
                    //- START ADVERTISER: Feltrinelli IT from awin.com MOBILE
                    a(href='https://www.awin1.com/cread.php?s=2636584&v=9647&q=382142&r=701051')
                        img(src='https://www.awin1.com/cshow.php?s=2636584&v=9647&q=382142&r=701051', border='0')

    if (suggeriti.length > 0)
        section.middle-section.section-suggerimenti.mb-30
            .container
                .row
                    .col-sm
                        h2.section-title.font-alt Ecco alcuni nostri suggerimenti che forse ti sei perso..

            .container
                .row.diaplay-web
                    for suggerimento in suggeriti
                        .col-sm-6.col-md-4.col-lg-4
                            .post
                                .post-thumbnail
                                    a.set-flex(href='libri/#{suggerimento.link}')
                                        img.image-thumbnail(src='#{suggerimento.image}', alt='#{suggerimento.titolo}')
                                .post-header.font-alt
                                    h2.post-title
                                        a(href='libri/#{suggerimento.link}') #{suggerimento.titolo}
                                    .post-meta
                                        | Di 
                                        a(href='#') #{suggerimento.autore_nome}
                                        |  #{suggerimento.data}
                                .post-entry
                                    p
                                        | #{suggerimento.trama_short} [...]
                                .post-more
                                    a.more-link(href='libri/#{suggerimento.link}') Leggi tutta la trama...
                
                .row.display-mobile
                    for suggerimento in suggeriti
                        .col-sm
                            .post
                                .post-thumbnail
                                    a.set-flex(href='libri/#{suggerimento.link}')
                                        img.image-thumbnail(src='#{suggerimento.image}', alt='#{suggerimento.titolo}')
                                .post-header.font-alt
                                    h2.post-title
                                        a(href='libri/#{suggerimento.link}') #{suggerimento.titolo}
                                    .post-meta
                                        | Di 
                                        a(href='#') #{suggerimento.autore_nome}
                                        |  #{suggerimento.data}
                                .post-entry
                                    p
                                        | #{suggerimento.trama_short} [...]
                                .post-more
                                    a.more-link(href='libri/#{suggerimento.link}') Leggi tutta la trama...

    .scroll-up
        a(href='#totop')
            i.fa.fa-angle-double-up